<%= form_with(model: [@patient, prescription]) do |f| %>
  <div class="field row">
     <% if f.object.new_record? %>
     <i class="material-icons prefix">medication</i>
    <% end %>
    <%= (f.label 'Prescription Name') unless f.object.new_record? %>
    <%= f.text_field :name, placeholder: 'Prescription Name', required: true %>
  </div>

  <div class="field row">
     <% if f.object.new_record? %>
     <i class="material-icons prefix">create</i>
    <% end %>
    <%= (f.label 'Prescription Note') unless f.object.new_record? %>
    <%= f.text_field :note, placeholder: 'Prescription Note', required: false %>
  </div>

  <div class="field row datetime">
    <%= f.label 'Prescription Date' %> <br>
     <%= f.date_select :prescription_date, start_year: 1920, order: [:day, :month, :year] %> 
  </div>

  <div class="field row datetime">
    <%= f.label 'Visting Date' %> <br>
     <%= f.date_select :visting_date, start_year: 1920, order: [:day, :month, :year] %> 
  </div>

  <div class="field row">
    <% if f.object.new_record? %>
     <i class="material-icons prefix">attach_money</i>
    <% end %>
    <%= (f.label 'Fee') unless f.object.new_record? %>
    <%= f.text_field :fee, placeholder: 'Fee', required: false %>
  </div>

    <% if prescription.errors.any? %>
    <div id="error_explanation" class="center-align">
      <ul>
        <% prescription.errors.messages.values.each do |msg| %>
           <%msg.each do  |m| %>
          <li><%= m %></li>
        <%end %>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions row">
    <%= link_to (f.object.new_record? ? patient_path(@patient) : patient_path(@patient)), class:"waves-effect waves-light btn" do %>
      <i class="material-icons left">arrow_back</i>back
    <% end %>
    <button class="waves-effect waves-light btn" type="submit" name="action">
      <i class="material-icons left"><%= (f.object.new_record? ? 'medication' : 'create') %></i>
      <%= (f.object.new_record? ? "Create Prescription" : "Update Prescription") %>
    </button>
  </div>
  </div>
<% end %>