<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @prescription.name %>
</p>

<p>
  <strong>Note:</strong>
  <%= @prescription.note %>
</p>

<%= link_to 'Edit', edit_patient_prescription_path(@patient, @prescription) %> |
<%= link_to 'Back', patient_path(@patient) %>
