<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @prescription.name %>
</p>

<p>
  <strong>Note:</strong>
  <%= @prescription.note %>
</p>

<p>
  <strong>Patient:</strong>
  <%= @prescription.patient_id %>
</p>

<%= link_to 'Edit', edit_prescription_path(@prescription) %> |
<%= link_to 'Back', patient_path(@prescription.patient_id) %>
