<%= form_with(model: patient) do |f| %>
  <% if patient.errors.any? %>
    <div id="error_explanation">
      <h5><%= pluralize(patient.errors.count, "error") %> prohibited this patient from being saved:</h5>
      <ul>
        <% patient.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field row">
    <% if f.object.new_record? %>
     <i class="material-icons prefix">account_circle</i>
    <% end %>
     <%= (f.label 'First Name') unless f.object.new_record? %>
    <%= f.text_field :first_name, placeholder: 'First Name', required: true %>
  </div>

  <div class="field row">
   <% if f.object.new_record? %>
     <i class="material-icons prefix">account_circle</i>
    <% end %>
   <%= (f.label 'Last Name') unless f.object.new_record? %>
    <%= f.text_field :last_name, placeholder: 'Last Name', required: true %>
  </div>

  <div class="field row datetime">
    <%= f.label 'Date of Birth' %> <br>
     <%= f.date_select :dob, start_year: 1920, order: [:day, :month, :year] %> 
  </div>

  <div class="field row">
   <% if f.object.new_record? %>
     <i class="material-icons prefix">phone</i>
    <% end %>
   <%= (f.label 'Phone Number (xxx-xxx-xxxx)') unless f.object.new_record? %>
    <%= f.text_field :phone_number, maxlength: 12, placeholder: 'Phone Number (xxx-xxx-xxxx)', required: true, id:'phone'%>
  </div>

  <div class="actions">
    
  
  <div class="actions row">
    <%= link_to (f.object.new_record? ? patients_path : patient), class:"waves-effect waves-light btn" do %>
      <i class="material-icons left">arrow_back</i>back
    <% end %>
    <button class="waves-effect waves-light btn" type="submit" name="action">
      <i class="material-icons left"><%= (f.object.new_record? ? 'group_add' : 'create') %></i>
      <%= (f.object.new_record? ? "Create Patient" : "Update Patient") %>
    </button>
  </div>
  </div>
<% end %>
