<script>  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.fixed-action-btn');
    var instances = M.FloatingActionButton.init(elems, {
      direction: 'left'
    });
  });
  </script>
  

<div class="container-body">
  <div class="row">
      <div class="col s12 left-align"><h3>Search Patients</h3></div>
      <div class="col s4 "><a href="<%= new_patient_path %>" class="waves-effect waves-light btn-large"><i class="material-icons left">group_add</i>New Patient</a></div>
      <div class="col s1 m2 l2"></div>
      <div class="col s7 m6 l6">
         <div class="row">
          <%= search_form_for @q do |f| %>
            <div class="col s6 m9 l9">
                <div class="form-group">
                  <%= f.search_field :first_name_or_last_name_or_phone_number_cont, autofocus: true,
                      class: "form-control",
                      placeholder: "Search by Name or Phone Number"
                  %>
                </div>
            </div>
            <div class="col s6 m3 l3"><button class="btn-floating btn-medium waves-effect waves-light" type="submit" name="action">
                    <i class="material-icons center">search</i></button>
                    <a href="<%= request.path %>" class="btn-floating btn-medium waves-effect waves-light"><i class="material-icons center">clear</i></a>
            </div>
          </div>
        <% end %>
      </div>
    </div>

  <div class="divider"></div>
  <div>
    <table class="table responsive-table striped">
      <thead>
        <tr class="row">
          <th>First Name</th>
          <th>Last Name</th>
          <th>Date of Birth</th>
          <th>Contact</th>
          <th style="width: 27%;">Actions</th>
        </tr>
      </thead>

      <tbody>
        <% @patients.each do |patient| %>
          <tr class="row">
            <td><%= patient.first_name %></td>
            <td><%= patient.last_name %></td>
            <td><%= patient.dob.strftime("%d-%B-%Y") %></td>
            <td><%= patient.phone_number %></td>
            <td>
              <%= link_to 'Show', patient, class:"btn" %>
              <%= link_to 'Edit', edit_patient_path(patient), class:"btn" %>
              <%= link_to 'Delete', patient, class:"btn", method: :delete, data: { confirm: 'Are you sure?' } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="center-align">
    <%= will_paginate @patients %>
  </div>
</div>