<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @patient.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @patient.last_name %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @patient.dob.strftime("%d-%B-%Y") %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @patient.phone_number %>
</p>

<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>

<p>
  <strong>Prescriptions: </strong> <%= link_to 'Create New Prescription', new_patient_prescription_path(patient_id:params[:id]) %>
  <table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Note</th>
      <th>Prescription Date</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @prescriptions.each do |prescription| %>
      <tr>
        <td><%= prescription.name %></td>
        <td><%= prescription.note %></td>
        <td><%= prescription.created_at.strftime("%d-%B-%Y") %></td>
        <td><%= link_to 'Edit', edit_patient_prescription_path(@patient, prescription) %></td>
        <td><%= link_to 'Destroy', [@patient, prescription], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</p>
<%= will_paginate @prescriptions %>