<div class="row">
  <div class="row">
    <div class="col s12 left-align">
      <h4 class="header"><i class="material-icons small">person</i> <%= @patient.first_name + " " + @patient.last_name %></h4>
    </div>
  </div>

 <div class="col s12">
    <div class="card horizontal grey lighten-4">
      <div class="card-stacked">
        <div class="card-content">
          <h6 class="header"><%= "Gender: #{@patient.gender}" %></h6>
          <h6 class="header"><%= "Date of Birth: #{@patient.dob.strftime("%d-%B-%Y")}" %></h6>
          <h6 class="header"><%= "Phone number: #{number_to_phone(@patient.phone_number)}" %></h6>
          <h6 class="header"> <%= "Address: #{@patient.address}" %></h6>
        </div>
        <div class="card-action">
          <%= link_to patients_path, class:"waves-effect waves-light btn" do %>
                <i class="material-icons left">arrow_back</i>Back
          <% end %>
          <%= link_to edit_patient_path(@patient), class:"waves-effect waves-light btn" do %>
            <i class="material-icons left">create</i>Edit Patient
          <% end %>
          <%= link_to patient_path, class:"waves-effect waves-light btn red", method: :delete, data: { confirm: 'Are you sure?' } do %>
            <i class="material-icons left">delete</i>Delete Patient
          <% end %>
          <%= link_to new_patient_prescription_path(patient_id:params[:id]), class:"waves-effect waves-light btn" do %>
            <i class="material-icons left">medication</i>New Prescription
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="divider"></div>
<% if @prescriptions.blank? %>
  <div class ="row">
    <div class="col s12 center-align">
      <h5><i class="material-icons small">medication</i> No prescriptions found</h5>
      </div>
  </div>
<% else %>
<div class="row ">
  <div class="col s12 m6 l6 left-align"><h4><i class="material-icons small">medication</i> Prescriptions</h4></div>
  <div class="col s12 m6 l6 right-align"><%= will_paginate @prescriptions %></div>
</div>
<div>
  <table class="table responsive-table highlight striped">
    <thead>
      <tr class="row">
        <th>Prescription Name</th>
        <th>Prescription Note</th>
        <th>Prescription Date</th>
        <th>Visiting Date</th>
        <th>Fee</th>
        <th class="col-actions-header">Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @prescriptions.order(visting_date: :desc).each do |prescription| %>
        <tr class="row">
          <td><%= prescription.name %></td>
          <td><%= prescription.note %></td>
          <td><%= prescription.prescription_date&.strftime("%d-%B-%Y") %></td>
          <td><%= prescription.visting_date&.strftime("%d-%B-%Y") %></td>
          <td>$<%= number_with_precision(prescription.fee, precision:2) %></td>
          <td class="col-actions">
            <%= link_to edit_patient_prescription_path(@patient, prescription), class:"waves-effect waves-light btn-small" do %>
            <i class="material-icons left">create</i>Edit
            <% end %>
            <%= link_to [@patient, prescription], class:"waves-effect waves-light btn-small red", method: :delete, data: { confirm: 'Are you sure?' } do %>
              <i class="material-icons left">delete</i> Delete
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%end %>